{
  "name": "${__repo_name|my-community}",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "astro dev",
    "build": "astro build",
    "preview": "astro preview"
  },
  "dependencies": {
    "@astrojs/mdx": "^7.0.2",
    "astro": "^7.0.6",
    "astro-theme-popular": "^${__theme_version|0.9.1}"
  }
}
